name: Build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        qt_version: [5.15.1]
        platform: [ubuntu-18.04, ubuntu-20.04]
        arch: [x64]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Installing Qt
        uses: jurplel/install-qt-action@v2.6.2
        with:
          version: ${{ matrix.qt_version }}
          arch: ${{ matrix.qtarch }}
          modules: qtscripts

      - name: Build
        shell: bash
        run: |
          sudo apt install libelf-dev libgl-dev libx11-dev libxkbcommon-x11-dev
          mkdir build
          cd build
          qmake ..
          make
